# .github/workflows/release.yml
name: goreleaser

on:
  push:
    # run only against tags
    tags:
      - "*"

permissions:
  contents: write
  # packages: write
  # issues: write
  # id-token: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      # More assembly might be required: Docker logins, GPG, etc.
      # It all depends on your needs.
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          # either 'goreleaser' (default) or 'goreleaser-pro'
          distribution: goreleaser-pro
          # 'latest', 'nightly', or a semver
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Your GoReleaser Pro key, if you are using the 'goreleaser-pro' distribution
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}

      - name: Publish to frostyard repo
        uses: frostyard/repogen/.github/actions/publish-to-r2@main
        with:
          r2-account-id: ${{ secrets.R2_ACCOUNT_ID }}
          r2-access-key-id: ${{ secrets.R2_ACCESS_KEY_ID }}
          r2-secret-access-key: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          r2-bucket: frostyardrepo
          purge-cache: "true"
          cloudflare-zone: ${{ secrets.CLOUDFLARE_ZONE }}
          cloudflare-api-token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          gpg-private-key: ${{ secrets.REPOGEN_GPG_KEY }}
          packages-dir: ./dist
          package-type: deb # or sysext
          base-url: https://repository.frostyard.org # required for sysext

      - name: Kickoff snosi
        if: github.event_name != 'pull_request' && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        continue-on-error: true
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.ORG_PAT }}
          repository: frostyard/snosi
          event-type: build
